div {
    padding: 1rem;
    /*margin-bottom: 2rem;*/
    background-color: #edf1f5; /*  f8f9fa*/
    text-align: justify;
}


.otree-btn-next {
    float: right;
}

body {
    background-color: #edf1f5; /*  f8f9fa*/
}